* {
    margin: 0; 
    font-family: papyrus, fantasy;
}

body{
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    position: relative;
    padding-bottom: [footer-height];
}

.nav-link:hover{
    transform: scale(1.25);
}

.footer {
    position: static;
    width: 100%;
    border-radius: 1px;
    bottom: 0px;
}

.navbar-toggler {
    position: absolute;
    z-index: 9999;
    width: 2,5rem;
    top: 0,5rem;
    right: 1rem;
    border: 0;
    
}

.navbar[data-visible="true"] {
    transform: translateX(0%);
}

.container {
    text-align: center;
    font-weight: 300;
}

#main {
    text-align: center;
}